@{
    ViewBag.Title = "Web API 101";
}

<div class="jumbotron">
    <h1>Web API 101</h1>
    <p class="lead">The controllers in this sample are for testing our various Web API functionality</p>
    <p>See the Readme.txt file for more information</p>
</div>
